<!DOCTYPE html>
<html>
  <head>
    <title>Flask tutorial</title>
    {%include 'bootstrap.html' %}
  
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
      <h2>About Sewe</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <h2>Job Openings</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div style="text-align:center;">
        <button class="btn btn-primary btn-lg">Contact us</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>