<!DOCTYPE html>
<html>
  <head>
    <title>Flask tutorial</title>
    <style>
      h1 {
        font: size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100,100,100);
        text-align: center;
      }
      h2 {
        font-family: Roboto;
        font: size: 32px;
        text-align: center;
      }
      #container {
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Flask Tutorial</h1>
      <div style="text-align:center;">
        <img id="banner" src="https://flaskmysqltutorial.sejoeder.repl.co/static/banner.jpg" height="320">
      </div>
      <h2>About Sewe</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <h2>Open Positions</h2>
      <p>TODO - Show the jobs here</p>
      <div style="text-align:center;">
        <button>Contact us</button>
      </div>
    </div>
  </body>
</html>